@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 500;
  src: local('Eczar Medium'), local('Eczar-Medium'), url(https://fonts.gstatic.com/s/eczar/v8/BXRovF3Pi-DLmzXWL_t90Ww.woff) format('woff');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: local('Eczar Bold'), local('Eczar-Bold'), url(https://fonts.gstatic.com/s/eczar/v8/BXRovF3Pi-DLmzWeKft90Ww.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Light'), local('Barlow-Light'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks51oq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Medium'), local('Barlow-Medium'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3_-gs51oq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51oq.woff) format('woff');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Black'), local('Barlow-Black'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3j-ws51oq.woff) format('woff');
}
